/* 
    Created on : Feb 10, 2018, 4:58:29 PM
    Author     : askary
*/

.sab-post-type {
    padding-top: 10px;
    padding-bottom: 10px;
}
.sab-post-type-posts {
    border: 2px solid #bfbbbb;
    width: 50%;
    padding: 7px;
    display: none;
}
.sab-post-type-posts select {
    width: 50%;
}